/*
 * EveKit Model API Server
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package enterprises.orbital.evekit.client.api;

import enterprises.orbital.evekit.client.ApiCallback;
import enterprises.orbital.evekit.client.ApiClient;
import enterprises.orbital.evekit.client.ApiException;
import enterprises.orbital.evekit.client.ApiResponse;
import enterprises.orbital.evekit.client.Configuration;
import enterprises.orbital.evekit.client.Pair;
import enterprises.orbital.evekit.client.ProgressRequestBody;
import enterprises.orbital.evekit.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import enterprises.orbital.evekit.client.model.CalendarEventAttendee;
import enterprises.orbital.evekit.client.model.CharacterContactNotification;
import enterprises.orbital.evekit.client.model.CharacterFleet;
import enterprises.orbital.evekit.client.model.CharacterLocation;
import enterprises.orbital.evekit.client.model.CharacterMailMessage;
import enterprises.orbital.evekit.client.model.CharacterMedal;
import enterprises.orbital.evekit.client.model.CharacterMedalGraphic;
import enterprises.orbital.evekit.client.model.CharacterNotification;
import enterprises.orbital.evekit.client.model.CharacterOnline;
import enterprises.orbital.evekit.client.model.CharacterRole;
import enterprises.orbital.evekit.client.model.CharacterSheet;
import enterprises.orbital.evekit.client.model.CharacterSheetAttributes;
import enterprises.orbital.evekit.client.model.CharacterSheetClone;
import enterprises.orbital.evekit.client.model.CharacterSheetJump;
import enterprises.orbital.evekit.client.model.CharacterSheetSkillPoints;
import enterprises.orbital.evekit.client.model.CharacterShip;
import enterprises.orbital.evekit.client.model.CharacterSkill;
import enterprises.orbital.evekit.client.model.CharacterTitle;
import enterprises.orbital.evekit.client.model.ChatChannel;
import enterprises.orbital.evekit.client.model.ChatChannelMember;
import enterprises.orbital.evekit.client.model.Fitting;
import enterprises.orbital.evekit.client.model.FittingItem;
import enterprises.orbital.evekit.client.model.FleetInfo;
import enterprises.orbital.evekit.client.model.FleetMember;
import enterprises.orbital.evekit.client.model.FleetSquad;
import enterprises.orbital.evekit.client.model.FleetWing;
import enterprises.orbital.evekit.client.model.Implant;
import enterprises.orbital.evekit.client.model.JumpClone;
import enterprises.orbital.evekit.client.model.JumpCloneImplant;
import enterprises.orbital.evekit.client.model.LoyaltyPoints;
import enterprises.orbital.evekit.client.model.MailLabel;
import enterprises.orbital.evekit.client.model.MailingList;
import enterprises.orbital.evekit.client.model.MiningLedger;
import enterprises.orbital.evekit.client.model.Opportunity;
import enterprises.orbital.evekit.client.model.PlanetaryColony;
import enterprises.orbital.evekit.client.model.PlanetaryLink;
import enterprises.orbital.evekit.client.model.PlanetaryPin;
import enterprises.orbital.evekit.client.model.PlanetaryRoute;
import enterprises.orbital.evekit.client.model.ResearchAgent;
import enterprises.orbital.evekit.client.model.ServiceError;
import enterprises.orbital.evekit.client.model.SkillInQueue;
import enterprises.orbital.evekit.client.model.UpcomingCalendarEvent;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CharacterApi {
    private ApiClient apiClient;

    public CharacterApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CharacterApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getCalendarEventAttendees
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param eventID Calendar event ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Attending character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param response Attendee response selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCalendarEventAttendeesCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String eventID, String characterID, String response, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/calendar_event_attendees";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (eventID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("eventID", eventID));
        }

        if (characterID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("characterID", characterID));
        }

        if (response != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("response", response));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCalendarEventAttendeesValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String eventID, String characterID, String response, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCalendarEventAttendees(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCalendarEventAttendees(Async)");
        }
        

        com.squareup.okhttp.Call call = getCalendarEventAttendeesCall(accessKey, accessCred, at, contid, maxresults, reverse, eventID, characterID, response, callback);
        return call;

    }

    /**
     * Get calendar event attendees
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param eventID Calendar event ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Attending character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param response Attendee response selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CalendarEventAttendee&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CalendarEventAttendee> getCalendarEventAttendees(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String eventID, String characterID, String response) throws ApiException {
        ApiResponse<List<CalendarEventAttendee>> resp = getCalendarEventAttendeesWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, eventID, characterID, response);
        return resp.getData();
    }

    /**
     * Get calendar event attendees
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param eventID Calendar event ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Attending character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param response Attendee response selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CalendarEventAttendee&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CalendarEventAttendee>> getCalendarEventAttendeesWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String eventID, String characterID, String response) throws ApiException {
        com.squareup.okhttp.Call call = getCalendarEventAttendeesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, eventID, characterID, response, null);
        Type localVarReturnType = new TypeToken<List<CalendarEventAttendee>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get calendar event attendees (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param eventID Calendar event ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Attending character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param response Attendee response selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCalendarEventAttendeesAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String eventID, String characterID, String response, final ApiCallback<List<CalendarEventAttendee>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getCalendarEventAttendeesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, eventID, characterID, response, callback);
        Type localVarReturnType = new TypeToken<List<CalendarEventAttendee>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getChannelMembers
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param category Member category selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorID Member accessor ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorType Member accessor type selector (optional, default to &quot;{ any: true }&quot;)
     * @param untilWhen Member restriction \&quot;until when\&quot; date selector (optional, default to &quot;{ any: true }&quot;)
     * @param reason Member restriction reason selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getChannelMembersCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String category, String accessorID, String accessorType, String untilWhen, String reason, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/channel_member";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (channelID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("channelID", channelID));
        }

        if (category != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("category", category));
        }

        if (accessorID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessorID", accessorID));
        }

        if (accessorType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessorType", accessorType));
        }

        if (untilWhen != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("untilWhen", untilWhen));
        }

        if (reason != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reason", reason));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getChannelMembersValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String category, String accessorID, String accessorType, String untilWhen, String reason, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getChannelMembers(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getChannelMembers(Async)");
        }
        

        com.squareup.okhttp.Call call = getChannelMembersCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, category, accessorID, accessorType, untilWhen, reason, callback);
        return call;

    }

    /**
     * Get chat channel members
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param category Member category selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorID Member accessor ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorType Member accessor type selector (optional, default to &quot;{ any: true }&quot;)
     * @param untilWhen Member restriction \&quot;until when\&quot; date selector (optional, default to &quot;{ any: true }&quot;)
     * @param reason Member restriction reason selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ChatChannelMember&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ChatChannelMember> getChannelMembers(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String category, String accessorID, String accessorType, String untilWhen, String reason) throws ApiException {
        ApiResponse<List<ChatChannelMember>> resp = getChannelMembersWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, channelID, category, accessorID, accessorType, untilWhen, reason);
        return resp.getData();
    }

    /**
     * Get chat channel members
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param category Member category selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorID Member accessor ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorType Member accessor type selector (optional, default to &quot;{ any: true }&quot;)
     * @param untilWhen Member restriction \&quot;until when\&quot; date selector (optional, default to &quot;{ any: true }&quot;)
     * @param reason Member restriction reason selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ChatChannelMember&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ChatChannelMember>> getChannelMembersWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String category, String accessorID, String accessorType, String untilWhen, String reason) throws ApiException {
        com.squareup.okhttp.Call call = getChannelMembersValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, category, accessorID, accessorType, untilWhen, reason, null);
        Type localVarReturnType = new TypeToken<List<ChatChannelMember>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get chat channel members (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param category Member category selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorID Member accessor ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param accessorType Member accessor type selector (optional, default to &quot;{ any: true }&quot;)
     * @param untilWhen Member restriction \&quot;until when\&quot; date selector (optional, default to &quot;{ any: true }&quot;)
     * @param reason Member restriction reason selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getChannelMembersAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String category, String accessorID, String accessorType, String untilWhen, String reason, final ApiCallback<List<ChatChannelMember>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getChannelMembersValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, category, accessorID, accessorType, untilWhen, reason, callback);
        Type localVarReturnType = new TypeToken<List<ChatChannelMember>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getChannels
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ownerID Channel owner ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param displayName Channel display name selector (optional, default to &quot;{ any: true }&quot;)
     * @param comparisonKey Channel comparison key selector (optional, default to &quot;{ any: true }&quot;)
     * @param hasPassword Channel has password selector (optional, default to &quot;{ any: true }&quot;)
     * @param motd Channel Message of the Day selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getChannelsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String ownerID, String displayName, String comparisonKey, String hasPassword, String motd, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/channel";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (channelID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("channelID", channelID));
        }

        if (ownerID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("ownerID", ownerID));
        }

        if (displayName != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("displayName", displayName));
        }

        if (comparisonKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("comparisonKey", comparisonKey));
        }

        if (hasPassword != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("hasPassword", hasPassword));
        }

        if (motd != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("motd", motd));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getChannelsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String ownerID, String displayName, String comparisonKey, String hasPassword, String motd, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getChannels(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getChannels(Async)");
        }
        

        com.squareup.okhttp.Call call = getChannelsCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, ownerID, displayName, comparisonKey, hasPassword, motd, callback);
        return call;

    }

    /**
     * Get character chat channels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ownerID Channel owner ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param displayName Channel display name selector (optional, default to &quot;{ any: true }&quot;)
     * @param comparisonKey Channel comparison key selector (optional, default to &quot;{ any: true }&quot;)
     * @param hasPassword Channel has password selector (optional, default to &quot;{ any: true }&quot;)
     * @param motd Channel Message of the Day selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ChatChannel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ChatChannel> getChannels(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String ownerID, String displayName, String comparisonKey, String hasPassword, String motd) throws ApiException {
        ApiResponse<List<ChatChannel>> resp = getChannelsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, channelID, ownerID, displayName, comparisonKey, hasPassword, motd);
        return resp.getData();
    }

    /**
     * Get character chat channels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ownerID Channel owner ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param displayName Channel display name selector (optional, default to &quot;{ any: true }&quot;)
     * @param comparisonKey Channel comparison key selector (optional, default to &quot;{ any: true }&quot;)
     * @param hasPassword Channel has password selector (optional, default to &quot;{ any: true }&quot;)
     * @param motd Channel Message of the Day selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ChatChannel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ChatChannel>> getChannelsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String ownerID, String displayName, String comparisonKey, String hasPassword, String motd) throws ApiException {
        com.squareup.okhttp.Call call = getChannelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, ownerID, displayName, comparisonKey, hasPassword, motd, null);
        Type localVarReturnType = new TypeToken<List<ChatChannel>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character chat channels (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param channelID Channel ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ownerID Channel owner ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param displayName Channel display name selector (optional, default to &quot;{ any: true }&quot;)
     * @param comparisonKey Channel comparison key selector (optional, default to &quot;{ any: true }&quot;)
     * @param hasPassword Channel has password selector (optional, default to &quot;{ any: true }&quot;)
     * @param motd Channel Message of the Day selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getChannelsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String channelID, String ownerID, String displayName, String comparisonKey, String hasPassword, String motd, final ApiCallback<List<ChatChannel>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getChannelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, channelID, ownerID, displayName, comparisonKey, hasPassword, motd, callback);
        Type localVarReturnType = new TypeToken<List<ChatChannel>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCharacterFleet
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param fleetID Fleet ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param role Fleet role selector (optional, default to &quot;{ any: true }&quot;)
     * @param squadID Fleet squad ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param wingID Fleet wing ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCharacterFleetCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String fleetID, String role, String squadID, String wingID, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/char_fleet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (fleetID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("fleetID", fleetID));
        }

        if (role != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("role", role));
        }

        if (squadID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("squadID", squadID));
        }

        if (wingID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("wingID", wingID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCharacterFleetValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String fleetID, String role, String squadID, String wingID, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCharacterFleet(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCharacterFleet(Async)");
        }
        

        com.squareup.okhttp.Call call = getCharacterFleetCall(accessKey, accessCred, at, contid, maxresults, reverse, fleetID, role, squadID, wingID, callback);
        return call;

    }

    /**
     * Get character fleets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param fleetID Fleet ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param role Fleet role selector (optional, default to &quot;{ any: true }&quot;)
     * @param squadID Fleet squad ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param wingID Fleet wing ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CharacterFleet&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CharacterFleet> getCharacterFleet(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String fleetID, String role, String squadID, String wingID) throws ApiException {
        ApiResponse<List<CharacterFleet>> resp = getCharacterFleetWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, fleetID, role, squadID, wingID);
        return resp.getData();
    }

    /**
     * Get character fleets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param fleetID Fleet ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param role Fleet role selector (optional, default to &quot;{ any: true }&quot;)
     * @param squadID Fleet squad ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param wingID Fleet wing ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CharacterFleet&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CharacterFleet>> getCharacterFleetWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String fleetID, String role, String squadID, String wingID) throws ApiException {
        com.squareup.okhttp.Call call = getCharacterFleetValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, fleetID, role, squadID, wingID, null);
        Type localVarReturnType = new TypeToken<List<CharacterFleet>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character fleets (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param fleetID Fleet ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param role Fleet role selector (optional, default to &quot;{ any: true }&quot;)
     * @param squadID Fleet squad ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param wingID Fleet wing ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCharacterFleetAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String fleetID, String role, String squadID, String wingID, final ApiCallback<List<CharacterFleet>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getCharacterFleetValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, fleetID, role, squadID, wingID, callback);
        Type localVarReturnType = new TypeToken<List<CharacterFleet>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCharacterSheetAttributes
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param intelligence Intelligence selector (optional, default to &quot;{ any: true }&quot;)
     * @param memory Memory selector (optional, default to &quot;{ any: true }&quot;)
     * @param charisma Charisma selector (optional, default to &quot;{ any: true }&quot;)
     * @param perception Perception selector (optional, default to &quot;{ any: true }&quot;)
     * @param willpower Willpower selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastRemapDate Last remap date selector (optional, default to &quot;{ any: true }&quot;)
     * @param accruedRemapCooldownDate Accrued remap cooldown date selector (optional, default to &quot;{ any: true }&quot;)
     * @param bonusRemaps Bonus remaps selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCharacterSheetAttributesCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String intelligence, String memory, String charisma, String perception, String willpower, String lastRemapDate, String accruedRemapCooldownDate, String bonusRemaps, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/sheet_attributes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (intelligence != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("intelligence", intelligence));
        }

        if (memory != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("memory", memory));
        }

        if (charisma != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("charisma", charisma));
        }

        if (perception != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("perception", perception));
        }

        if (willpower != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("willpower", willpower));
        }

        if (lastRemapDate != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("lastRemapDate", lastRemapDate));
        }

        if (accruedRemapCooldownDate != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accruedRemapCooldownDate", accruedRemapCooldownDate));
        }

        if (bonusRemaps != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bonusRemaps", bonusRemaps));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCharacterSheetAttributesValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String intelligence, String memory, String charisma, String perception, String willpower, String lastRemapDate, String accruedRemapCooldownDate, String bonusRemaps, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCharacterSheetAttributes(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCharacterSheetAttributes(Async)");
        }
        

        com.squareup.okhttp.Call call = getCharacterSheetAttributesCall(accessKey, accessCred, at, contid, maxresults, reverse, intelligence, memory, charisma, perception, willpower, lastRemapDate, accruedRemapCooldownDate, bonusRemaps, callback);
        return call;

    }

    /**
     * Get character sheet attributes
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param intelligence Intelligence selector (optional, default to &quot;{ any: true }&quot;)
     * @param memory Memory selector (optional, default to &quot;{ any: true }&quot;)
     * @param charisma Charisma selector (optional, default to &quot;{ any: true }&quot;)
     * @param perception Perception selector (optional, default to &quot;{ any: true }&quot;)
     * @param willpower Willpower selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastRemapDate Last remap date selector (optional, default to &quot;{ any: true }&quot;)
     * @param accruedRemapCooldownDate Accrued remap cooldown date selector (optional, default to &quot;{ any: true }&quot;)
     * @param bonusRemaps Bonus remaps selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CharacterSheetAttributes&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CharacterSheetAttributes> getCharacterSheetAttributes(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String intelligence, String memory, String charisma, String perception, String willpower, String lastRemapDate, String accruedRemapCooldownDate, String bonusRemaps) throws ApiException {
        ApiResponse<List<CharacterSheetAttributes>> resp = getCharacterSheetAttributesWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, intelligence, memory, charisma, perception, willpower, lastRemapDate, accruedRemapCooldownDate, bonusRemaps);
        return resp.getData();
    }

    /**
     * Get character sheet attributes
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param intelligence Intelligence selector (optional, default to &quot;{ any: true }&quot;)
     * @param memory Memory selector (optional, default to &quot;{ any: true }&quot;)
     * @param charisma Charisma selector (optional, default to &quot;{ any: true }&quot;)
     * @param perception Perception selector (optional, default to &quot;{ any: true }&quot;)
     * @param willpower Willpower selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastRemapDate Last remap date selector (optional, default to &quot;{ any: true }&quot;)
     * @param accruedRemapCooldownDate Accrued remap cooldown date selector (optional, default to &quot;{ any: true }&quot;)
     * @param bonusRemaps Bonus remaps selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CharacterSheetAttributes&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CharacterSheetAttributes>> getCharacterSheetAttributesWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String intelligence, String memory, String charisma, String perception, String willpower, String lastRemapDate, String accruedRemapCooldownDate, String bonusRemaps) throws ApiException {
        com.squareup.okhttp.Call call = getCharacterSheetAttributesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, intelligence, memory, charisma, perception, willpower, lastRemapDate, accruedRemapCooldownDate, bonusRemaps, null);
        Type localVarReturnType = new TypeToken<List<CharacterSheetAttributes>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character sheet attributes (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param intelligence Intelligence selector (optional, default to &quot;{ any: true }&quot;)
     * @param memory Memory selector (optional, default to &quot;{ any: true }&quot;)
     * @param charisma Charisma selector (optional, default to &quot;{ any: true }&quot;)
     * @param perception Perception selector (optional, default to &quot;{ any: true }&quot;)
     * @param willpower Willpower selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastRemapDate Last remap date selector (optional, default to &quot;{ any: true }&quot;)
     * @param accruedRemapCooldownDate Accrued remap cooldown date selector (optional, default to &quot;{ any: true }&quot;)
     * @param bonusRemaps Bonus remaps selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCharacterSheetAttributesAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String intelligence, String memory, String charisma, String perception, String willpower, String lastRemapDate, String accruedRemapCooldownDate, String bonusRemaps, final ApiCallback<List<CharacterSheetAttributes>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getCharacterSheetAttributesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, intelligence, memory, charisma, perception, willpower, lastRemapDate, accruedRemapCooldownDate, bonusRemaps, callback);
        Type localVarReturnType = new TypeToken<List<CharacterSheetAttributes>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCharacterSheets
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param characterID Character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Name selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param raceID Race selector (optional, default to &quot;{ any: true }&quot;)
     * @param doB Date of birth selector (optional, default to &quot;{ any: true }&quot;)
     * @param bloodlineID Bloodline ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ancestryID Ancestry ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param gender Gender selector (optional, default to &quot;{ any: true }&quot;)
     * @param allianceID Alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Description selector (optional, default to &quot;{ any: true }&quot;)
     * @param securityStatus Security status selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCharacterSheetsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String characterID, String name, String corporationID, String raceID, String doB, String bloodlineID, String ancestryID, String gender, String allianceID, String factionID, String description, String securityStatus, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/sheet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (characterID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("characterID", characterID));
        }

        if (name != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        }

        if (corporationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("corporationID", corporationID));
        }

        if (raceID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("raceID", raceID));
        }

        if (doB != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("doB", doB));
        }

        if (bloodlineID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bloodlineID", bloodlineID));
        }

        if (ancestryID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("ancestryID", ancestryID));
        }

        if (gender != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("gender", gender));
        }

        if (allianceID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("allianceID", allianceID));
        }

        if (factionID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("factionID", factionID));
        }

        if (description != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("description", description));
        }

        if (securityStatus != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("securityStatus", securityStatus));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCharacterSheetsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String characterID, String name, String corporationID, String raceID, String doB, String bloodlineID, String ancestryID, String gender, String allianceID, String factionID, String description, String securityStatus, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCharacterSheets(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCharacterSheets(Async)");
        }
        

        com.squareup.okhttp.Call call = getCharacterSheetsCall(accessKey, accessCred, at, contid, maxresults, reverse, characterID, name, corporationID, raceID, doB, bloodlineID, ancestryID, gender, allianceID, factionID, description, securityStatus, callback);
        return call;

    }

    /**
     * Get character sheet
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param characterID Character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Name selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param raceID Race selector (optional, default to &quot;{ any: true }&quot;)
     * @param doB Date of birth selector (optional, default to &quot;{ any: true }&quot;)
     * @param bloodlineID Bloodline ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ancestryID Ancestry ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param gender Gender selector (optional, default to &quot;{ any: true }&quot;)
     * @param allianceID Alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Description selector (optional, default to &quot;{ any: true }&quot;)
     * @param securityStatus Security status selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CharacterSheet&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CharacterSheet> getCharacterSheets(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String characterID, String name, String corporationID, String raceID, String doB, String bloodlineID, String ancestryID, String gender, String allianceID, String factionID, String description, String securityStatus) throws ApiException {
        ApiResponse<List<CharacterSheet>> resp = getCharacterSheetsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, characterID, name, corporationID, raceID, doB, bloodlineID, ancestryID, gender, allianceID, factionID, description, securityStatus);
        return resp.getData();
    }

    /**
     * Get character sheet
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param characterID Character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Name selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param raceID Race selector (optional, default to &quot;{ any: true }&quot;)
     * @param doB Date of birth selector (optional, default to &quot;{ any: true }&quot;)
     * @param bloodlineID Bloodline ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ancestryID Ancestry ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param gender Gender selector (optional, default to &quot;{ any: true }&quot;)
     * @param allianceID Alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Description selector (optional, default to &quot;{ any: true }&quot;)
     * @param securityStatus Security status selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CharacterSheet&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CharacterSheet>> getCharacterSheetsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String characterID, String name, String corporationID, String raceID, String doB, String bloodlineID, String ancestryID, String gender, String allianceID, String factionID, String description, String securityStatus) throws ApiException {
        com.squareup.okhttp.Call call = getCharacterSheetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, characterID, name, corporationID, raceID, doB, bloodlineID, ancestryID, gender, allianceID, factionID, description, securityStatus, null);
        Type localVarReturnType = new TypeToken<List<CharacterSheet>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character sheet (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param characterID Character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Name selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param raceID Race selector (optional, default to &quot;{ any: true }&quot;)
     * @param doB Date of birth selector (optional, default to &quot;{ any: true }&quot;)
     * @param bloodlineID Bloodline ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ancestryID Ancestry ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param gender Gender selector (optional, default to &quot;{ any: true }&quot;)
     * @param allianceID Alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Description selector (optional, default to &quot;{ any: true }&quot;)
     * @param securityStatus Security status selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCharacterSheetsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String characterID, String name, String corporationID, String raceID, String doB, String bloodlineID, String ancestryID, String gender, String allianceID, String factionID, String description, String securityStatus, final ApiCallback<List<CharacterSheet>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getCharacterSheetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, characterID, name, corporationID, raceID, doB, bloodlineID, ancestryID, gender, allianceID, factionID, description, securityStatus, callback);
        Type localVarReturnType = new TypeToken<List<CharacterSheet>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCloneJumpTimers
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param cloneJumpDate Clone jump date selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationID Home station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationType Home station type selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastStationChangeDate Last station change date selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCloneJumpTimersCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String cloneJumpDate, String homeStationID, String homeStationType, String lastStationChangeDate, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/clone_jump_timer";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (cloneJumpDate != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("cloneJumpDate", cloneJumpDate));
        }

        if (homeStationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("homeStationID", homeStationID));
        }

        if (homeStationType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("homeStationType", homeStationType));
        }

        if (lastStationChangeDate != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("lastStationChangeDate", lastStationChangeDate));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCloneJumpTimersValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String cloneJumpDate, String homeStationID, String homeStationType, String lastStationChangeDate, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCloneJumpTimers(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCloneJumpTimers(Async)");
        }
        

        com.squareup.okhttp.Call call = getCloneJumpTimersCall(accessKey, accessCred, at, contid, maxresults, reverse, cloneJumpDate, homeStationID, homeStationType, lastStationChangeDate, callback);
        return call;

    }

    /**
     * Get character clone jump timers
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param cloneJumpDate Clone jump date selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationID Home station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationType Home station type selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastStationChangeDate Last station change date selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CharacterSheetClone&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CharacterSheetClone> getCloneJumpTimers(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String cloneJumpDate, String homeStationID, String homeStationType, String lastStationChangeDate) throws ApiException {
        ApiResponse<List<CharacterSheetClone>> resp = getCloneJumpTimersWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, cloneJumpDate, homeStationID, homeStationType, lastStationChangeDate);
        return resp.getData();
    }

    /**
     * Get character clone jump timers
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param cloneJumpDate Clone jump date selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationID Home station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationType Home station type selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastStationChangeDate Last station change date selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CharacterSheetClone&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CharacterSheetClone>> getCloneJumpTimersWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String cloneJumpDate, String homeStationID, String homeStationType, String lastStationChangeDate) throws ApiException {
        com.squareup.okhttp.Call call = getCloneJumpTimersValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, cloneJumpDate, homeStationID, homeStationType, lastStationChangeDate, null);
        Type localVarReturnType = new TypeToken<List<CharacterSheetClone>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character clone jump timers (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param cloneJumpDate Clone jump date selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationID Home station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param homeStationType Home station type selector (optional, default to &quot;{ any: true }&quot;)
     * @param lastStationChangeDate Last station change date selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCloneJumpTimersAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String cloneJumpDate, String homeStationID, String homeStationType, String lastStationChangeDate, final ApiCallback<List<CharacterSheetClone>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getCloneJumpTimersValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, cloneJumpDate, homeStationID, homeStationType, lastStationChangeDate, callback);
        Type localVarReturnType = new TypeToken<List<CharacterSheetClone>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContactNotifications
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param notificationID Notification ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param senderID Contact notification sender ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param sentDate Contact notification send date selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Contact notification standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param messageData Contact notification message data selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getContactNotificationsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String notificationID, String senderID, String sentDate, String standingLevel, String messageData, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/char/contact_notification";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (notificationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("notificationID", notificationID));
        }

        if (senderID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("senderID", senderID));
        }

        if (sentDate != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("sentDate", sentDate));
        }

        if (standingLevel != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("standingLevel", standingLevel));
        }

        if (messageData != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("messageData", messageData));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getContactNotificationsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String notificationID, String senderID, String sentDate, String standingLevel, String messageData, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContactNotifications(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContactNotifications(Async)");
        }
        

        com.squareup.okhttp.Call call = getContactNotificationsCall(accessKey, accessCred, at, contid, maxresults, reverse, notificationID, senderID, sentDate, standingLevel, messageData, callback);
        return call;

    }

    /**
     * Get character contact notifications
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param notificationID Notification ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param senderID Contact notification sender ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param sentDate Contact notification send date selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Contact notification standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param messageData Contact notification message data selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CharacterContactNotification&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CharacterContactNotification> getContactNotifications(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String notificationID, String senderID, String sentDate, String standingLevel, String messageData) throws ApiException {
        ApiResponse<List<CharacterContactNotification>> resp = getContactNotificationsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, notificationID, senderID, sentDate, standingLevel, messageData);
        return resp.getData();
    }

    /**
     * Get character contact notifications
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param notificationID Notification ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param senderID Contact notification sender ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param sentDate Contact notification send date selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Contact notification standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param messageData Contact notification message data selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CharacterContactNotification&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CharacterContactNotification>> getContactNotificationsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String notificationID, String senderID, String sentDate, String standingLevel, String messageData) throws ApiException {
        com.squareup.okhttp.Call call = getContactNotificationsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, notificationID, senderID, sentDate, standingLevel, messageData, null);
        Type localVarReturnType = new TypeToken<List<CharacterContactNotification>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get character contact notifications (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param notificationID Notification ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param senderID Contact notification sender ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param sentDate Contact notification send date selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Contact notification standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param messageData Contact notification message data selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getContactNotificationsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String notificationID, String senderID, String sentDate, String standingLevel, String messageData, final ApiCallback<List<CharacterContactNotification>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getContactNotificationsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, notificationID, senderID, sentDate, standingLevel, messageData, callback);
        Type localVarReturnType = new TypeToken<List<CharacterContactNotification>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getFittingItems
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
[...]
