/*
 * EveKit Model API Server
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package enterprises.orbital.evekit.client.api;

import enterprises.orbital.evekit.client.ApiCallback;
import enterprises.orbital.evekit.client.ApiClient;
import enterprises.orbital.evekit.client.ApiException;
import enterprises.orbital.evekit.client.ApiResponse;
import enterprises.orbital.evekit.client.Configuration;
import enterprises.orbital.evekit.client.Pair;
import enterprises.orbital.evekit.client.ProgressRequestBody;
import enterprises.orbital.evekit.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import enterprises.orbital.evekit.client.model.AccountBalance;
import enterprises.orbital.evekit.client.model.Asset;
import enterprises.orbital.evekit.client.model.Blueprint;
import enterprises.orbital.evekit.client.model.Bookmark;
import enterprises.orbital.evekit.client.model.Contact;
import enterprises.orbital.evekit.client.model.ContactLabel;
import enterprises.orbital.evekit.client.model.Contract;
import enterprises.orbital.evekit.client.model.ContractBid;
import enterprises.orbital.evekit.client.model.ContractItem;
import enterprises.orbital.evekit.client.model.FacWarStats;
import enterprises.orbital.evekit.client.model.IndustryJob;
import enterprises.orbital.evekit.client.model.Kill;
import enterprises.orbital.evekit.client.model.KillAttacker;
import enterprises.orbital.evekit.client.model.KillItem;
import enterprises.orbital.evekit.client.model.KillVictim;
import enterprises.orbital.evekit.client.model.Location;
import enterprises.orbital.evekit.client.model.MarketOrder;
import enterprises.orbital.evekit.client.model.ServiceError;
import enterprises.orbital.evekit.client.model.Standing;
import enterprises.orbital.evekit.client.model.WalletJournal;
import enterprises.orbital.evekit.client.model.WalletTransaction;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CommonApi {
    private ApiClient localVarApiClient;

    public CommonApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CommonApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getAccountBalance
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getAccountBalanceCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/account_balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (division != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("division", division));
        }

        if (balance != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("balance", balance));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAccountBalanceValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getAccountBalance(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getAccountBalance(Async)");
        }
        

        okhttp3.Call localVarCall = getAccountBalanceCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, _callback);
        return localVarCall;

    }

    /**
     * Get account balance(s)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;AccountBalance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<AccountBalance> getAccountBalance(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance) throws ApiException {
        ApiResponse<List<AccountBalance>> localVarResp = getAccountBalanceWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, division, balance);
        return localVarResp.getData();
    }

    /**
     * Get account balance(s)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;AccountBalance&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<AccountBalance>> getAccountBalanceWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance) throws ApiException {
        okhttp3.Call localVarCall = getAccountBalanceValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, null);
        Type localVarReturnType = new TypeToken<List<AccountBalance>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get account balance(s) (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getAccountBalanceAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback<List<AccountBalance>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAccountBalanceValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, _callback);
        Type localVarReturnType = new TypeToken<List<AccountBalance>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAssets
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getAssetsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/asset";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("itemID", itemID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationID", locationID));
        }

        if (locationType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationType", locationType));
        }

        if (locationFlag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationFlag", locationFlag));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quantity", quantity));
        }

        if (singleton != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("singleton", singleton));
        }

        if (blueprintType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("blueprintType", blueprintType));
        }

        if (blueprintCopy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("blueprintCopy", blueprintCopy));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAssetsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getAssets(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getAssets(Async)");
        }
        

        okhttp3.Call localVarCall = getAssetsCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, _callback);
        return localVarCall;

    }

    /**
     * Get assets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Asset&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Asset> getAssets(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy) throws ApiException {
        ApiResponse<List<Asset>> localVarResp = getAssetsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy);
        return localVarResp.getData();
    }

    /**
     * Get assets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Asset&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Asset>> getAssetsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy) throws ApiException {
        okhttp3.Call localVarCall = getAssetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, null);
        Type localVarReturnType = new TypeToken<List<Asset>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get assets (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getAssetsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback<List<Asset>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAssetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, _callback);
        Type localVarReturnType = new TypeToken<List<Asset>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getBlueprints
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getBlueprintsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/blueprint";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("itemID", itemID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationID", locationID));
        }

        if (locationFlag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationFlag", locationFlag));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quantity", quantity));
        }

        if (timeEfficiency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("timeEfficiency", timeEfficiency));
        }

        if (materialEfficiency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("materialEfficiency", materialEfficiency));
        }

        if (runs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("runs", runs));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBlueprintsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getBlueprints(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getBlueprints(Async)");
        }
        

        okhttp3.Call localVarCall = getBlueprintsCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, _callback);
        return localVarCall;

    }

    /**
     * Get blueprints
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Blueprint&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Blueprint> getBlueprints(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs) throws ApiException {
        ApiResponse<List<Blueprint>> localVarResp = getBlueprintsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs);
        return localVarResp.getData();
    }

    /**
     * Get blueprints
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Blueprint&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Blueprint>> getBlueprintsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs) throws ApiException {
        okhttp3.Call localVarCall = getBlueprintsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, null);
        Type localVarReturnType = new TypeToken<List<Blueprint>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get blueprints (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getBlueprintsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback<List<Blueprint>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getBlueprintsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, _callback);
        Type localVarReturnType = new TypeToken<List<Blueprint>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getBookmarks
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getBookmarksCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/bookmark";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (folderID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("folderID", folderID));
        }

        if (folderName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("folderName", folderName));
        }

        if (folderCreatorID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("folderCreatorID", folderCreatorID));
        }

        if (bookmarkID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bookmarkID", bookmarkID));
        }

        if (bookmarkCreatorID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bookmarkCreatorID", bookmarkCreatorID));
        }

        if (created != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("created", created));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("itemID", itemID));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("typeID", typeID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationID", locationID));
        }

        if (x != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("x", x));
        }

        if (y != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("y", y));
        }

        if (z != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("z", z));
        }

        if (memo != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("memo", memo));
        }

        if (note != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("note", note));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBookmarksValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getBookmarks(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getBookmarks(Async)");
        }
        

        okhttp3.Call localVarCall = getBookmarksCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, _callback);
        return localVarCall;

    }

    /**
     * Get bookmarks
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Bookmark&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Bookmark> getBookmarks(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note) throws ApiException {
        ApiResponse<List<Bookmark>> localVarResp = getBookmarksWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note);
        return localVarResp.getData();
    }

    /**
     * Get bookmarks
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Bookmark&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Bookmark>> getBookmarksWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note) throws ApiException {
        okhttp3.Call localVarCall = getBookmarksValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, null);
        Type localVarReturnType = new TypeToken<List<Bookmark>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get bookmarks (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getBookmarksAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback<List<Bookmark>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getBookmarksValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, _callback);
        Type localVarReturnType = new TypeToken<List<Bookmark>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getContactLabels
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getContactLabelsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contact_label";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (list != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("list", list));
        }

        if (labelID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("labelID", labelID));
        }

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getContactLabelsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContactLabels(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContactLabels(Async)");
        }
        

        okhttp3.Call localVarCall = getContactLabelsCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, _callback);
        return localVarCall;

    }

    /**
     * Get contact labels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContactLabel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContactLabel> getContactLabels(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name) throws ApiException {
        ApiResponse<List<ContactLabel>> localVarResp = getContactLabelsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name);
        return localVarResp.getData();
    }

    /**
     * Get contact labels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContactLabel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContactLabel>> getContactLabelsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name) throws ApiException {
        okhttp3.Call localVarCall = getContactLabelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, null);
        Type localVarReturnType = new TypeToken<List<ContactLabel>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get contact labels (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getContactLabelsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback<List<ContactLabel>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getContactLabelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, _callback);
        Type localVarReturnType = new TypeToken<List<ContactLabel>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getContacts
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getContactsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contact";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (list != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("list", list));
        }

        if (contactID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contactID", contactID));
        }

        if (standing != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("standing", standing));
        }

        if (contactType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contactType", contactType));
        }

        if (inWatchlist != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("inWatchlist", inWatchlist));
        }

        if (isBlocked != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("isBlocked", isBlocked));
        }

        if (labelID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("labelID", labelID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getContactsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContacts(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContacts(Async)");
        }
        

        okhttp3.Call localVarCall = getContactsCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, _callback);
        return localVarCall;

    }

    /**
     * Get contacts
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Contact&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Contact> getContacts(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID) throws ApiException {
        ApiResponse<List<Contact>> localVarResp = getContactsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID);
        return localVarResp.getData();
    }

    /**
     * Get contacts
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Contact&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Contact>> getContactsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID) throws ApiException {
        okhttp3.Call localVarCall = getContactsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, null);
        Type localVarReturnType = new TypeToken<List<Contact>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get contacts (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getContactsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback<List<Contact>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getContactsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, _callback);
        Type localVarReturnType = new TypeToken<List<Contact>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getContractBids
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getContractBidsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contract_bid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (bidID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bidID", bidID));
        }

        if (contractID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contractID", contractID));
        }

        if (bidderID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bidderID", bidderID));
        }

        if (dateBid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("dateBid", dateBid));
        }

        if (amount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("amount", amount));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getContractBidsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContractBids(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContractBids(Async)");
        }
        

        okhttp3.Call localVarCall = getContractBidsCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, _callback);
        return localVarCall;

    }

    /**
     * Get contract bids
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContractBid&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContractBid> getContractBids(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount) throws ApiException {
        ApiResponse<List<ContractBid>> localVarResp = getContractBidsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount);
        return localVarResp.getData();
    }

    /**
     * Get contract bids
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContractBid&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContractBid>> getContractBidsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount) throws ApiException {
        okhttp3.Call localVarCall = getContractBidsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, null);
        Type localVarReturnType = new TypeToken<List<ContractBid>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get contract bids (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getContractBidsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback<List<ContractBid>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getContractBidsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, _callback);
        Type localVarReturnType = new TypeToken<List<ContractBid>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getContractItems
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getContractItemsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contract_item";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (contractID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contractID", contractID));
        }

        if (recordID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("recordID", recordID));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quantity", quantity));
        }

        if (rawQuantity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rawQuantity", rawQuantity));
        }

        if (singleton != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("singleton", singleton));
        }

        if (included != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("included", included));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getContractItemsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContractItems(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContractItems(Async)");
        }
        

        okhttp3.Call localVarCall = getContractItemsCall(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included, _callback);
        return localVarCall;

    }

    /**
     * Get contract items
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContractItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContractItem> getContractItems(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included) throws ApiException {
        ApiResponse<List<ContractItem>> localVarResp = getContractItemsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included);
        return localVarResp.getData();
    }

    /**
     * Get contract items
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContractItem&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContractItem>> getContractItemsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included) throws ApiException {
        okhttp3.Call localVarCall = getContractItemsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included, null);
        Type localVarReturnType = new TypeToken<List<ContractItem>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get contract items (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
[...]
