/*
 * EveKit Model API Server
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package enterprises.orbital.evekit.client.api;

import enterprises.orbital.evekit.client.ApiCallback;
import enterprises.orbital.evekit.client.ApiClient;
import enterprises.orbital.evekit.client.ApiException;
import enterprises.orbital.evekit.client.ApiResponse;
import enterprises.orbital.evekit.client.Configuration;
import enterprises.orbital.evekit.client.Pair;
import enterprises.orbital.evekit.client.ProgressRequestBody;
import enterprises.orbital.evekit.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import enterprises.orbital.evekit.client.model.AccountBalance;
import enterprises.orbital.evekit.client.model.Asset;
import enterprises.orbital.evekit.client.model.Blueprint;
import enterprises.orbital.evekit.client.model.Bookmark;
import enterprises.orbital.evekit.client.model.Contact;
import enterprises.orbital.evekit.client.model.ContactLabel;
import enterprises.orbital.evekit.client.model.Contract;
import enterprises.orbital.evekit.client.model.ContractBid;
import enterprises.orbital.evekit.client.model.ContractItem;
import enterprises.orbital.evekit.client.model.FacWarStats;
import enterprises.orbital.evekit.client.model.IndustryJob;
import enterprises.orbital.evekit.client.model.Kill;
import enterprises.orbital.evekit.client.model.KillAttacker;
import enterprises.orbital.evekit.client.model.KillItem;
import enterprises.orbital.evekit.client.model.KillVictim;
import enterprises.orbital.evekit.client.model.Location;
import enterprises.orbital.evekit.client.model.MarketOrder;
import enterprises.orbital.evekit.client.model.ServiceError;
import enterprises.orbital.evekit.client.model.Standing;
import enterprises.orbital.evekit.client.model.WalletJournal;
import enterprises.orbital.evekit.client.model.WalletTransaction;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CommonApi {
    private ApiClient apiClient;

    public CommonApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CommonApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAccountBalance
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAccountBalanceCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/account_balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (division != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("division", division));
        }

        if (balance != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("balance", balance));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAccountBalanceValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getAccountBalance(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getAccountBalance(Async)");
        }
        

        com.squareup.okhttp.Call call = getAccountBalanceCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, callback);
        return call;

    }

    /**
     * Get account balance(s)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;AccountBalance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<AccountBalance> getAccountBalance(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance) throws ApiException {
        ApiResponse<List<AccountBalance>> resp = getAccountBalanceWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, division, balance);
        return resp.getData();
    }

    /**
     * Get account balance(s)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;AccountBalance&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<AccountBalance>> getAccountBalanceWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance) throws ApiException {
        com.squareup.okhttp.Call call = getAccountBalanceValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, null);
        Type localVarReturnType = new TypeToken<List<AccountBalance>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get account balance(s) (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param division Division selector (optional, default to &quot;{ any: true }&quot;)
     * @param balance Balance selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAccountBalanceAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String division, String balance, final ApiCallback<List<AccountBalance>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getAccountBalanceValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, division, balance, callback);
        Type localVarReturnType = new TypeToken<List<AccountBalance>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAssets
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAssetsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/asset";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("itemID", itemID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationID", locationID));
        }

        if (locationType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationType", locationType));
        }

        if (locationFlag != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationFlag", locationFlag));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("quantity", quantity));
        }

        if (singleton != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("singleton", singleton));
        }

        if (blueprintType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("blueprintType", blueprintType));
        }

        if (blueprintCopy != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("blueprintCopy", blueprintCopy));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAssetsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getAssets(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getAssets(Async)");
        }
        

        com.squareup.okhttp.Call call = getAssetsCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, callback);
        return call;

    }

    /**
     * Get assets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Asset&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Asset> getAssets(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy) throws ApiException {
        ApiResponse<List<Asset>> resp = getAssetsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy);
        return resp.getData();
    }

    /**
     * Get assets
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Asset&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Asset>> getAssetsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy) throws ApiException {
        com.squareup.okhttp.Call call = getAssetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, null);
        Type localVarReturnType = new TypeToken<List<Asset>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get assets (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Asset item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Asset location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationType Asset location type selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Asset location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Asset type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Asset quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Asset is singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintType Asset blueprint type selector (optional, default to &quot;{ any: true }&quot;)
     * @param blueprintCopy Asset blueprint copy selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAssetsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationType, String locationFlag, String typeID, String quantity, String singleton, String blueprintType, String blueprintCopy, final ApiCallback<List<Asset>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getAssetsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationType, locationFlag, typeID, quantity, singleton, blueprintType, blueprintCopy, callback);
        Type localVarReturnType = new TypeToken<List<Asset>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBlueprints
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBlueprintsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/blueprint";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("itemID", itemID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationID", locationID));
        }

        if (locationFlag != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationFlag", locationFlag));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("quantity", quantity));
        }

        if (timeEfficiency != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("timeEfficiency", timeEfficiency));
        }

        if (materialEfficiency != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("materialEfficiency", materialEfficiency));
        }

        if (runs != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("runs", runs));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBlueprintsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getBlueprints(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getBlueprints(Async)");
        }
        

        com.squareup.okhttp.Call call = getBlueprintsCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, callback);
        return call;

    }

    /**
     * Get blueprints
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Blueprint&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Blueprint> getBlueprints(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs) throws ApiException {
        ApiResponse<List<Blueprint>> resp = getBlueprintsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs);
        return resp.getData();
    }

    /**
     * Get blueprints
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Blueprint&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Blueprint>> getBlueprintsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs) throws ApiException {
        com.squareup.okhttp.Call call = getBlueprintsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, null);
        Type localVarReturnType = new TypeToken<List<Blueprint>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get blueprints (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param itemID Blueprint item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Blueprint location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Blueprint location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Blueprint type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Blueprint quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param timeEfficiency Blueprint time efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param materialEfficiency Blueprint material efficiency selector (optional, default to &quot;{ any: true }&quot;)
     * @param runs Blueprint runs selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBlueprintsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String itemID, String locationID, String locationFlag, String typeID, String quantity, String timeEfficiency, String materialEfficiency, String runs, final ApiCallback<List<Blueprint>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getBlueprintsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, itemID, locationID, locationFlag, typeID, quantity, timeEfficiency, materialEfficiency, runs, callback);
        Type localVarReturnType = new TypeToken<List<Blueprint>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBookmarks
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBookmarksCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/bookmark";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (folderID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("folderID", folderID));
        }

        if (folderName != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("folderName", folderName));
        }

        if (folderCreatorID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("folderCreatorID", folderCreatorID));
        }

        if (bookmarkID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bookmarkID", bookmarkID));
        }

        if (bookmarkCreatorID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bookmarkCreatorID", bookmarkCreatorID));
        }

        if (created != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("created", created));
        }

        if (itemID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("itemID", itemID));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("typeID", typeID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationID", locationID));
        }

        if (x != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("x", x));
        }

        if (y != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("y", y));
        }

        if (z != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("z", z));
        }

        if (memo != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("memo", memo));
        }

        if (note != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("note", note));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBookmarksValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getBookmarks(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getBookmarks(Async)");
        }
        

        com.squareup.okhttp.Call call = getBookmarksCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, callback);
        return call;

    }

    /**
     * Get bookmarks
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Bookmark&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Bookmark> getBookmarks(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note) throws ApiException {
        ApiResponse<List<Bookmark>> resp = getBookmarksWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note);
        return resp.getData();
    }

    /**
     * Get bookmarks
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Bookmark&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Bookmark>> getBookmarksWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note) throws ApiException {
        com.squareup.okhttp.Call call = getBookmarksValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, null);
        Type localVarReturnType = new TypeToken<List<Bookmark>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get bookmarks (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param folderID Bookmark folder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderName Bookmark folder name selector (optional, default to &quot;{ any: true }&quot;)
     * @param folderCreatorID Bookmark folder creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkID Bookmark ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bookmarkCreatorID Bookmark creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Bookmark created selector (optional, default to &quot;{ any: true }&quot;)
     * @param itemID Bookmark item ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Bookmark type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Bookmark location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param x Bookmark x coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param y Bookmark y coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param z Bookmark z coordinate selector (optional, default to &quot;{ any: true }&quot;)
     * @param memo Bookmark memo selector (optional, default to &quot;{ any: true }&quot;)
     * @param note Bookmark note selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBookmarksAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String folderID, String folderName, String folderCreatorID, String bookmarkID, String bookmarkCreatorID, String created, String itemID, String typeID, String locationID, String x, String y, String z, String memo, String note, final ApiCallback<List<Bookmark>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getBookmarksValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, folderID, folderName, folderCreatorID, bookmarkID, bookmarkCreatorID, created, itemID, typeID, locationID, x, y, z, memo, note, callback);
        Type localVarReturnType = new TypeToken<List<Bookmark>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContactLabels
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getContactLabelsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contact_label";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (list != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("list", list));
        }

        if (labelID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("labelID", labelID));
        }

        if (name != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getContactLabelsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContactLabels(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContactLabels(Async)");
        }
        

        com.squareup.okhttp.Call call = getContactLabelsCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, callback);
        return call;

    }

    /**
     * Get contact labels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContactLabel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContactLabel> getContactLabels(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name) throws ApiException {
        ApiResponse<List<ContactLabel>> resp = getContactLabelsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name);
        return resp.getData();
    }

    /**
     * Get contact labels
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContactLabel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContactLabel>> getContactLabelsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name) throws ApiException {
        com.squareup.okhttp.Call call = getContactLabelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, null);
        Type localVarReturnType = new TypeToken<List<ContactLabel>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get contact labels (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Contact label name selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getContactLabelsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String labelID, String name, final ApiCallback<List<ContactLabel>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getContactLabelsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, labelID, name, callback);
        Type localVarReturnType = new TypeToken<List<ContactLabel>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContacts
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getContactsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contact";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (list != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("list", list));
        }

        if (contactID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contactID", contactID));
        }

        if (standing != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("standing", standing));
        }

        if (contactType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contactType", contactType));
        }

        if (inWatchlist != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("inWatchlist", inWatchlist));
        }

        if (isBlocked != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("isBlocked", isBlocked));
        }

        if (labelID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("labelID", labelID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getContactsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContacts(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContacts(Async)");
        }
        

        com.squareup.okhttp.Call call = getContactsCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, callback);
        return call;

    }

    /**
     * Get contacts
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Contact&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Contact> getContacts(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID) throws ApiException {
        ApiResponse<List<Contact>> resp = getContactsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID);
        return resp.getData();
    }

    /**
     * Get contacts
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;Contact&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Contact>> getContactsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID) throws ApiException {
        com.squareup.okhttp.Call call = getContactsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, null);
        Type localVarReturnType = new TypeToken<List<Contact>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get contacts (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param list Contact list selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactID Contact ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param standing Contact standing selector (optional, default to &quot;{ any: true }&quot;)
     * @param contactType Contact type selector (optional, default to &quot;{ any: true }&quot;)
     * @param inWatchlist Contact in watch list selector (optional, default to &quot;{ any: true }&quot;)
     * @param isBlocked Contact is blocked selector (optional, default to &quot;{ any: true }&quot;)
     * @param labelID Contact label selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getContactsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String list, String contactID, String standing, String contactType, String inWatchlist, String isBlocked, String labelID, final ApiCallback<List<Contact>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getContactsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, list, contactID, standing, contactType, inWatchlist, isBlocked, labelID, callback);
        Type localVarReturnType = new TypeToken<List<Contact>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContractBids
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getContractBidsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contract_bid";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (bidID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bidID", bidID));
        }

        if (contractID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contractID", contractID));
        }

        if (bidderID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("bidderID", bidderID));
        }

        if (dateBid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("dateBid", dateBid));
        }

        if (amount != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("amount", amount));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getContractBidsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContractBids(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContractBids(Async)");
        }
        

        com.squareup.okhttp.Call call = getContractBidsCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, callback);
        return call;

    }

    /**
     * Get contract bids
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContractBid&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContractBid> getContractBids(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount) throws ApiException {
        ApiResponse<List<ContractBid>> resp = getContractBidsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount);
        return resp.getData();
    }

    /**
     * Get contract bids
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContractBid&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContractBid>> getContractBidsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount) throws ApiException {
        com.squareup.okhttp.Call call = getContractBidsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, null);
        Type localVarReturnType = new TypeToken<List<ContractBid>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get contract bids (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param bidID Contract bid ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param bidderID Contract bid bidder ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateBid Contract bid date selector (optional, default to &quot;{ any: true }&quot;)
     * @param amount Contract bid amount selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getContractBidsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String bidID, String contractID, String bidderID, String dateBid, String amount, final ApiCallback<List<ContractBid>> callback) throws ApiException {

        com.squareup.okhttp.Call call = getContractBidsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, bidID, contractID, bidderID, dateBid, amount, callback);
        Type localVarReturnType = new TypeToken<List<ContractBid>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getContractItems
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getContractItemsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included, final ApiCallback callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/common/contract_item";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("reverse", reverse));
        }

        if (contractID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("contractID", contractID));
        }

        if (recordID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("recordID", recordID));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("typeID", typeID));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("quantity", quantity));
        }

        if (rawQuantity != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("rawQuantity", rawQuantity));
        }

        if (singleton != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("singleton", singleton));
        }

        if (included != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("included", included));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, callback);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getContractItemsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included, final ApiCallback callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContractItems(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContractItems(Async)");
        }
        

        com.squareup.okhttp.Call call = getContractItemsCall(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included, callback);
        return call;

    }

    /**
     * Get contract items
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContractItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContractItem> getContractItems(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included) throws ApiException {
        ApiResponse<List<ContractItem>> resp = getContractItemsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included);
        return resp.getData();
    }

    /**
     * Get contract items
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContractItem&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContractItem>> getContractItemsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String contractID, String recordID, String typeID, String quantity, String rawQuantity, String singleton, String included) throws ApiException {
        com.squareup.okhttp.Call call = getContractItemsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, contractID, recordID, typeID, quantity, rawQuantity, singleton, included, null);
        Type localVarReturnType = new TypeToken<List<ContractItem>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get contract items (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param contractID Contract ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param recordID Contract item record ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Contract item type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Contract item quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param rawQuantity Contract item raw quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param singleton Contract item singleton selector (optional, default to &quot;{ any: true }&quot;)
     * @param included Contract item included selector (optional, default to &quot;{ any: true }&quot;)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
[...]
