/*
 * EveKit Model API Server
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package enterprises.orbital.evekit.client.api;

import enterprises.orbital.evekit.client.ApiCallback;
import enterprises.orbital.evekit.client.ApiClient;
import enterprises.orbital.evekit.client.ApiException;
import enterprises.orbital.evekit.client.ApiResponse;
import enterprises.orbital.evekit.client.Configuration;
import enterprises.orbital.evekit.client.Pair;
import enterprises.orbital.evekit.client.ProgressRequestBody;
import enterprises.orbital.evekit.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import enterprises.orbital.evekit.client.model.ContainerLog;
import enterprises.orbital.evekit.client.model.CorporationMedal;
import enterprises.orbital.evekit.client.model.CorporationMemberMedal;
import enterprises.orbital.evekit.client.model.CorporationSheet;
import enterprises.orbital.evekit.client.model.CorporationTitle;
import enterprises.orbital.evekit.client.model.CorporationTitleRole;
import enterprises.orbital.evekit.client.model.CustomsOffice;
import enterprises.orbital.evekit.client.model.Division;
import enterprises.orbital.evekit.client.model.Facility;
import enterprises.orbital.evekit.client.model.Fuel;
import enterprises.orbital.evekit.client.model.Member;
import enterprises.orbital.evekit.client.model.MemberLimit;
import enterprises.orbital.evekit.client.model.MemberRole;
import enterprises.orbital.evekit.client.model.MemberRoleHistory;
import enterprises.orbital.evekit.client.model.MemberTitle;
import enterprises.orbital.evekit.client.model.MemberTracking;
import enterprises.orbital.evekit.client.model.MiningExtraction;
import enterprises.orbital.evekit.client.model.MiningObservation;
import enterprises.orbital.evekit.client.model.MiningObserver;
import enterprises.orbital.evekit.client.model.ServiceError;
import enterprises.orbital.evekit.client.model.Shareholder;
import enterprises.orbital.evekit.client.model.Starbase;
import enterprises.orbital.evekit.client.model.Structure;
import enterprises.orbital.evekit.client.model.StructureService;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CorporationApi {
    private ApiClient localVarApiClient;

    public CorporationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CorporationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getContainerLogs
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param logTime Corporation container log time selector (optional, default to &quot;{ any: true }&quot;)
     * @param action Corporation container log action selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Corporation container log character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Corporation container log location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerID Corporation container log container ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerTypeID Corporation container log container type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Corporation container log location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param newConfiguration Corporation container log new configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param oldConfiguration Corporation container log old configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param passwordType Corporation container log password type selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Corporation container log quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Corporation container log type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getContainerLogsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String logTime, String action, String characterID, String locationFlag, String containerID, String containerTypeID, String locationID, String newConfiguration, String oldConfiguration, String passwordType, String quantity, String typeID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/container_log";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (logTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("logTime", logTime));
        }

        if (action != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("action", action));
        }

        if (characterID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("characterID", characterID));
        }

        if (locationFlag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationFlag", locationFlag));
        }

        if (containerID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("containerID", containerID));
        }

        if (containerTypeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("containerTypeID", containerTypeID));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("locationID", locationID));
        }

        if (newConfiguration != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("newConfiguration", newConfiguration));
        }

        if (oldConfiguration != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("oldConfiguration", oldConfiguration));
        }

        if (passwordType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("passwordType", passwordType));
        }

        if (quantity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quantity", quantity));
        }

        if (typeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("typeID", typeID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getContainerLogsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String logTime, String action, String characterID, String locationFlag, String containerID, String containerTypeID, String locationID, String newConfiguration, String oldConfiguration, String passwordType, String quantity, String typeID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getContainerLogs(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getContainerLogs(Async)");
        }
        

        okhttp3.Call localVarCall = getContainerLogsCall(accessKey, accessCred, at, contid, maxresults, reverse, logTime, action, characterID, locationFlag, containerID, containerTypeID, locationID, newConfiguration, oldConfiguration, passwordType, quantity, typeID, _callback);
        return localVarCall;

    }

    /**
     * Get container log records
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param logTime Corporation container log time selector (optional, default to &quot;{ any: true }&quot;)
     * @param action Corporation container log action selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Corporation container log character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Corporation container log location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerID Corporation container log container ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerTypeID Corporation container log container type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Corporation container log location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param newConfiguration Corporation container log new configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param oldConfiguration Corporation container log old configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param passwordType Corporation container log password type selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Corporation container log quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Corporation container log type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;ContainerLog&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ContainerLog> getContainerLogs(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String logTime, String action, String characterID, String locationFlag, String containerID, String containerTypeID, String locationID, String newConfiguration, String oldConfiguration, String passwordType, String quantity, String typeID) throws ApiException {
        ApiResponse<List<ContainerLog>> localVarResp = getContainerLogsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, logTime, action, characterID, locationFlag, containerID, containerTypeID, locationID, newConfiguration, oldConfiguration, passwordType, quantity, typeID);
        return localVarResp.getData();
    }

    /**
     * Get container log records
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param logTime Corporation container log time selector (optional, default to &quot;{ any: true }&quot;)
     * @param action Corporation container log action selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Corporation container log character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Corporation container log location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerID Corporation container log container ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerTypeID Corporation container log container type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Corporation container log location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param newConfiguration Corporation container log new configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param oldConfiguration Corporation container log old configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param passwordType Corporation container log password type selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Corporation container log quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Corporation container log type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;ContainerLog&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ContainerLog>> getContainerLogsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String logTime, String action, String characterID, String locationFlag, String containerID, String containerTypeID, String locationID, String newConfiguration, String oldConfiguration, String passwordType, String quantity, String typeID) throws ApiException {
        okhttp3.Call localVarCall = getContainerLogsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, logTime, action, characterID, locationFlag, containerID, containerTypeID, locationID, newConfiguration, oldConfiguration, passwordType, quantity, typeID, null);
        Type localVarReturnType = new TypeToken<List<ContainerLog>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get container log records (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param logTime Corporation container log time selector (optional, default to &quot;{ any: true }&quot;)
     * @param action Corporation container log action selector (optional, default to &quot;{ any: true }&quot;)
     * @param characterID Corporation container log character ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationFlag Corporation container log location flag selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerID Corporation container log container ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param containerTypeID Corporation container log container type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param locationID Corporation container log location ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param newConfiguration Corporation container log new configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param oldConfiguration Corporation container log old configuration selector (optional, default to &quot;{ any: true }&quot;)
     * @param passwordType Corporation container log password type selector (optional, default to &quot;{ any: true }&quot;)
     * @param quantity Corporation container log quantity selector (optional, default to &quot;{ any: true }&quot;)
     * @param typeID Corporation container log type ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getContainerLogsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String logTime, String action, String characterID, String locationFlag, String containerID, String containerTypeID, String locationID, String newConfiguration, String oldConfiguration, String passwordType, String quantity, String typeID, final ApiCallback<List<ContainerLog>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getContainerLogsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, logTime, action, characterID, locationFlag, containerID, containerTypeID, locationID, newConfiguration, oldConfiguration, passwordType, quantity, typeID, _callback);
        Type localVarReturnType = new TypeToken<List<ContainerLog>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCorporationMedals
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param medalID Corporation medal ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation medal description selector (optional, default to &quot;{ any: true }&quot;)
     * @param title Corporation medal title selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Corporation medal created date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation medal creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCorporationMedalsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String medalID, String description, String title, String created, String creatorID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/medal";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (medalID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("medalID", medalID));
        }

        if (description != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("description", description));
        }

        if (title != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title", title));
        }

        if (created != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("created", created));
        }

        if (creatorID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("creatorID", creatorID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCorporationMedalsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String medalID, String description, String title, String created, String creatorID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCorporationMedals(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCorporationMedals(Async)");
        }
        

        okhttp3.Call localVarCall = getCorporationMedalsCall(accessKey, accessCred, at, contid, maxresults, reverse, medalID, description, title, created, creatorID, _callback);
        return localVarCall;

    }

    /**
     * Get corporation medals
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param medalID Corporation medal ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation medal description selector (optional, default to &quot;{ any: true }&quot;)
     * @param title Corporation medal title selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Corporation medal created date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation medal creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CorporationMedal&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CorporationMedal> getCorporationMedals(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String medalID, String description, String title, String created, String creatorID) throws ApiException {
        ApiResponse<List<CorporationMedal>> localVarResp = getCorporationMedalsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, medalID, description, title, created, creatorID);
        return localVarResp.getData();
    }

    /**
     * Get corporation medals
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param medalID Corporation medal ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation medal description selector (optional, default to &quot;{ any: true }&quot;)
     * @param title Corporation medal title selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Corporation medal created date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation medal creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CorporationMedal&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CorporationMedal>> getCorporationMedalsWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String medalID, String description, String title, String created, String creatorID) throws ApiException {
        okhttp3.Call localVarCall = getCorporationMedalsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, medalID, description, title, created, creatorID, null);
        Type localVarReturnType = new TypeToken<List<CorporationMedal>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get corporation medals (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param medalID Corporation medal ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation medal description selector (optional, default to &quot;{ any: true }&quot;)
     * @param title Corporation medal title selector (optional, default to &quot;{ any: true }&quot;)
     * @param created Corporation medal created date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation medal creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCorporationMedalsAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String medalID, String description, String title, String created, String creatorID, final ApiCallback<List<CorporationMedal>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCorporationMedalsValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, medalID, description, title, created, creatorID, _callback);
        Type localVarReturnType = new TypeToken<List<CorporationMedal>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCorporationSheet
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param allianceID Corporation alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ceoID Corporation CEO ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationName Corporation name selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation description selector (optional, default to &quot;{ any: true }&quot;)
     * @param memberCount Corporation member count selector (optional, default to &quot;{ any: true }&quot;)
     * @param shares Corporation shares selector (optional, default to &quot;{ any: true }&quot;)
     * @param stationID Corporation station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRate Corporation tax rate selector (optional, default to &quot;{ any: true }&quot;)
     * @param ticker Corporation ticker selector (optional, default to &quot;{ any: true }&quot;)
     * @param url Corporation URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateFounded Corporation founding date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Corporation faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param px64x64 Corporation 64x64 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px128x128 Corporation 128x128 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px256x256 Corporation 256x256 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param warEligible Corporation war eligible selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCorporationSheetCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String allianceID, String ceoID, String corporationID, String corporationName, String description, String memberCount, String shares, String stationID, String taxRate, String ticker, String url, String dateFounded, String creatorID, String factionID, String px64x64, String px128x128, String px256x256, String warEligible, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/sheet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (allianceID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("allianceID", allianceID));
        }

        if (ceoID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ceoID", ceoID));
        }

        if (corporationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("corporationID", corporationID));
        }

        if (corporationName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("corporationName", corporationName));
        }

        if (description != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("description", description));
        }

        if (memberCount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("memberCount", memberCount));
        }

        if (shares != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("shares", shares));
        }

        if (stationID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("stationID", stationID));
        }

        if (taxRate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRate", taxRate));
        }

        if (ticker != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ticker", ticker));
        }

        if (url != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("url", url));
        }

        if (dateFounded != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("dateFounded", dateFounded));
        }

        if (creatorID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("creatorID", creatorID));
        }

        if (factionID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("factionID", factionID));
        }

        if (px64x64 != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("px64x64", px64x64));
        }

        if (px128x128 != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("px128x128", px128x128));
        }

        if (px256x256 != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("px256x256", px256x256));
        }

        if (warEligible != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("warEligible", warEligible));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCorporationSheetValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String allianceID, String ceoID, String corporationID, String corporationName, String description, String memberCount, String shares, String stationID, String taxRate, String ticker, String url, String dateFounded, String creatorID, String factionID, String px64x64, String px128x128, String px256x256, String warEligible, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCorporationSheet(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCorporationSheet(Async)");
        }
        

        okhttp3.Call localVarCall = getCorporationSheetCall(accessKey, accessCred, at, contid, maxresults, reverse, allianceID, ceoID, corporationID, corporationName, description, memberCount, shares, stationID, taxRate, ticker, url, dateFounded, creatorID, factionID, px64x64, px128x128, px256x256, warEligible, _callback);
        return localVarCall;

    }

    /**
     * Get corporation sheet
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param allianceID Corporation alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ceoID Corporation CEO ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationName Corporation name selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation description selector (optional, default to &quot;{ any: true }&quot;)
     * @param memberCount Corporation member count selector (optional, default to &quot;{ any: true }&quot;)
     * @param shares Corporation shares selector (optional, default to &quot;{ any: true }&quot;)
     * @param stationID Corporation station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRate Corporation tax rate selector (optional, default to &quot;{ any: true }&quot;)
     * @param ticker Corporation ticker selector (optional, default to &quot;{ any: true }&quot;)
     * @param url Corporation URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateFounded Corporation founding date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Corporation faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param px64x64 Corporation 64x64 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px128x128 Corporation 128x128 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px256x256 Corporation 256x256 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param warEligible Corporation war eligible selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CorporationSheet&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CorporationSheet> getCorporationSheet(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String allianceID, String ceoID, String corporationID, String corporationName, String description, String memberCount, String shares, String stationID, String taxRate, String ticker, String url, String dateFounded, String creatorID, String factionID, String px64x64, String px128x128, String px256x256, String warEligible) throws ApiException {
        ApiResponse<List<CorporationSheet>> localVarResp = getCorporationSheetWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, allianceID, ceoID, corporationID, corporationName, description, memberCount, shares, stationID, taxRate, ticker, url, dateFounded, creatorID, factionID, px64x64, px128x128, px256x256, warEligible);
        return localVarResp.getData();
    }

    /**
     * Get corporation sheet
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param allianceID Corporation alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ceoID Corporation CEO ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationName Corporation name selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation description selector (optional, default to &quot;{ any: true }&quot;)
     * @param memberCount Corporation member count selector (optional, default to &quot;{ any: true }&quot;)
     * @param shares Corporation shares selector (optional, default to &quot;{ any: true }&quot;)
     * @param stationID Corporation station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRate Corporation tax rate selector (optional, default to &quot;{ any: true }&quot;)
     * @param ticker Corporation ticker selector (optional, default to &quot;{ any: true }&quot;)
     * @param url Corporation URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateFounded Corporation founding date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Corporation faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param px64x64 Corporation 64x64 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px128x128 Corporation 128x128 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px256x256 Corporation 256x256 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param warEligible Corporation war eligible selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CorporationSheet&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CorporationSheet>> getCorporationSheetWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String allianceID, String ceoID, String corporationID, String corporationName, String description, String memberCount, String shares, String stationID, String taxRate, String ticker, String url, String dateFounded, String creatorID, String factionID, String px64x64, String px128x128, String px256x256, String warEligible) throws ApiException {
        okhttp3.Call localVarCall = getCorporationSheetValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, allianceID, ceoID, corporationID, corporationName, description, memberCount, shares, stationID, taxRate, ticker, url, dateFounded, creatorID, factionID, px64x64, px128x128, px256x256, warEligible, null);
        Type localVarReturnType = new TypeToken<List<CorporationSheet>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get corporation sheet (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param allianceID Corporation alliance ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param ceoID Corporation CEO ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationID Corporation ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param corporationName Corporation name selector (optional, default to &quot;{ any: true }&quot;)
     * @param description Corporation description selector (optional, default to &quot;{ any: true }&quot;)
     * @param memberCount Corporation member count selector (optional, default to &quot;{ any: true }&quot;)
     * @param shares Corporation shares selector (optional, default to &quot;{ any: true }&quot;)
     * @param stationID Corporation station ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRate Corporation tax rate selector (optional, default to &quot;{ any: true }&quot;)
     * @param ticker Corporation ticker selector (optional, default to &quot;{ any: true }&quot;)
     * @param url Corporation URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param dateFounded Corporation founding date selector (optional, default to &quot;{ any: true }&quot;)
     * @param creatorID Corporation creator ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param factionID Corporation faction ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param px64x64 Corporation 64x64 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px128x128 Corporation 128x128 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param px256x256 Corporation 256x256 image URL selector (optional, default to &quot;{ any: true }&quot;)
     * @param warEligible Corporation war eligible selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCorporationSheetAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String allianceID, String ceoID, String corporationID, String corporationName, String description, String memberCount, String shares, String stationID, String taxRate, String ticker, String url, String dateFounded, String creatorID, String factionID, String px64x64, String px128x128, String px256x256, String warEligible, final ApiCallback<List<CorporationSheet>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCorporationSheetValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, allianceID, ceoID, corporationID, corporationName, description, memberCount, shares, stationID, taxRate, ticker, url, dateFounded, creatorID, factionID, px64x64, px128x128, px256x256, warEligible, _callback);
        Type localVarReturnType = new TypeToken<List<CorporationSheet>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCorporationTitleRoles
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title role ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param roleName Corporation title role name selector (optional, default to &quot;{ any: true }&quot;)
     * @param grantable Corporation title role grantable selector (optional, default to &quot;{ any: true }&quot;)
     * @param atHQ Corporation title role at HQ selector (optional, default to &quot;{ any: true }&quot;)
     * @param atBase Corporation title role at base selector (optional, default to &quot;{ any: true }&quot;)
     * @param atOther Corporation title role at other selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCorporationTitleRolesCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String roleName, String grantable, String atHQ, String atBase, String atOther, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/title_role";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (titleID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("titleID", titleID));
        }

        if (roleName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("roleName", roleName));
        }

        if (grantable != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("grantable", grantable));
        }

        if (atHQ != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("atHQ", atHQ));
        }

        if (atBase != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("atBase", atBase));
        }

        if (atOther != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("atOther", atOther));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCorporationTitleRolesValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String roleName, String grantable, String atHQ, String atBase, String atOther, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCorporationTitleRoles(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCorporationTitleRoles(Async)");
        }
        

        okhttp3.Call localVarCall = getCorporationTitleRolesCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, roleName, grantable, atHQ, atBase, atOther, _callback);
        return localVarCall;

    }

    /**
     * Get corporation title roles
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title role ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param roleName Corporation title role name selector (optional, default to &quot;{ any: true }&quot;)
     * @param grantable Corporation title role grantable selector (optional, default to &quot;{ any: true }&quot;)
     * @param atHQ Corporation title role at HQ selector (optional, default to &quot;{ any: true }&quot;)
     * @param atBase Corporation title role at base selector (optional, default to &quot;{ any: true }&quot;)
     * @param atOther Corporation title role at other selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CorporationTitleRole&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CorporationTitleRole> getCorporationTitleRoles(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String roleName, String grantable, String atHQ, String atBase, String atOther) throws ApiException {
        ApiResponse<List<CorporationTitleRole>> localVarResp = getCorporationTitleRolesWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, titleID, roleName, grantable, atHQ, atBase, atOther);
        return localVarResp.getData();
    }

    /**
     * Get corporation title roles
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title role ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param roleName Corporation title role name selector (optional, default to &quot;{ any: true }&quot;)
     * @param grantable Corporation title role grantable selector (optional, default to &quot;{ any: true }&quot;)
     * @param atHQ Corporation title role at HQ selector (optional, default to &quot;{ any: true }&quot;)
     * @param atBase Corporation title role at base selector (optional, default to &quot;{ any: true }&quot;)
     * @param atOther Corporation title role at other selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CorporationTitleRole&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CorporationTitleRole>> getCorporationTitleRolesWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String roleName, String grantable, String atHQ, String atBase, String atOther) throws ApiException {
        okhttp3.Call localVarCall = getCorporationTitleRolesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, roleName, grantable, atHQ, atBase, atOther, null);
        Type localVarReturnType = new TypeToken<List<CorporationTitleRole>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get corporation title roles (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title role ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param roleName Corporation title role name selector (optional, default to &quot;{ any: true }&quot;)
     * @param grantable Corporation title role grantable selector (optional, default to &quot;{ any: true }&quot;)
     * @param atHQ Corporation title role at HQ selector (optional, default to &quot;{ any: true }&quot;)
     * @param atBase Corporation title role at base selector (optional, default to &quot;{ any: true }&quot;)
     * @param atOther Corporation title role at other selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCorporationTitleRolesAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String roleName, String grantable, String atHQ, String atBase, String atOther, final ApiCallback<List<CorporationTitleRole>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCorporationTitleRolesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, roleName, grantable, atHQ, atBase, atOther, _callback);
        Type localVarReturnType = new TypeToken<List<CorporationTitleRole>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCorporationTitles
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param titleName Corporation title name selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCorporationTitlesCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String titleName, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/title";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (titleID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("titleID", titleID));
        }

        if (titleName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("titleName", titleName));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCorporationTitlesValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String titleName, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCorporationTitles(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCorporationTitles(Async)");
        }
        

        okhttp3.Call localVarCall = getCorporationTitlesCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, titleName, _callback);
        return localVarCall;

    }

    /**
     * Get corporation titles
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param titleName Corporation title name selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CorporationTitle&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CorporationTitle> getCorporationTitles(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String titleName) throws ApiException {
        ApiResponse<List<CorporationTitle>> localVarResp = getCorporationTitlesWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, titleID, titleName);
        return localVarResp.getData();
    }

    /**
     * Get corporation titles
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param titleName Corporation title name selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CorporationTitle&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CorporationTitle>> getCorporationTitlesWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String titleName) throws ApiException {
        okhttp3.Call localVarCall = getCorporationTitlesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, titleName, null);
        Type localVarReturnType = new TypeToken<List<CorporationTitle>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get corporation titles (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param titleID Corporation title ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param titleName Corporation title name selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCorporationTitlesAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String titleID, String titleName, final ApiCallback<List<CorporationTitle>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCorporationTitlesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, titleID, titleName, _callback);
        Type localVarReturnType = new TypeToken<List<CorporationTitle>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCustomsOffices
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param officeID Customs office ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param solarSystemID Customs office solar system ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitStart Customs office reinforce exit timer start selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitEnd Customs office reinforce exit timer end selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowAlliance Customs office allow alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowStandings Customs office allow standings selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Customs office standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateAlliance Customs office tax rate alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateCorp Customs office tax rate corporation selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingExcellent Customs office tax rate standing excellent selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingGood Customs office tax rate standing good selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingNeutral Customs office tax rate standing neutral selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingBad Customs office tax rate standing bad selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingTerrible Customs office tax rate standing terrible selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCustomsOfficesCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String officeID, String solarSystemID, String reinforceExitStart, String reinforceExitEnd, String allowAlliance, String allowStandings, String standingLevel, String taxRateAlliance, String taxRateCorp, String taxRateStandingExcellent, String taxRateStandingGood, String taxRateStandingNeutral, String taxRateStandingBad, String taxRateStandingTerrible, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/customs_office";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (officeID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("officeID", officeID));
        }

        if (solarSystemID != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("solarSystemID", solarSystemID));
        }

        if (reinforceExitStart != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reinforceExitStart", reinforceExitStart));
        }

        if (reinforceExitEnd != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reinforceExitEnd", reinforceExitEnd));
        }

        if (allowAlliance != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("allowAlliance", allowAlliance));
        }

        if (allowStandings != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("allowStandings", allowStandings));
        }

        if (standingLevel != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("standingLevel", standingLevel));
        }

        if (taxRateAlliance != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateAlliance", taxRateAlliance));
        }

        if (taxRateCorp != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateCorp", taxRateCorp));
        }

        if (taxRateStandingExcellent != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateStandingExcellent", taxRateStandingExcellent));
        }

        if (taxRateStandingGood != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateStandingGood", taxRateStandingGood));
        }

        if (taxRateStandingNeutral != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateStandingNeutral", taxRateStandingNeutral));
        }

        if (taxRateStandingBad != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateStandingBad", taxRateStandingBad));
        }

        if (taxRateStandingTerrible != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("taxRateStandingTerrible", taxRateStandingTerrible));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCustomsOfficesValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String officeID, String solarSystemID, String reinforceExitStart, String reinforceExitEnd, String allowAlliance, String allowStandings, String standingLevel, String taxRateAlliance, String taxRateCorp, String taxRateStandingExcellent, String taxRateStandingGood, String taxRateStandingNeutral, String taxRateStandingBad, String taxRateStandingTerrible, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getCustomsOffices(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getCustomsOffices(Async)");
        }
        

        okhttp3.Call localVarCall = getCustomsOfficesCall(accessKey, accessCred, at, contid, maxresults, reverse, officeID, solarSystemID, reinforceExitStart, reinforceExitEnd, allowAlliance, allowStandings, standingLevel, taxRateAlliance, taxRateCorp, taxRateStandingExcellent, taxRateStandingGood, taxRateStandingNeutral, taxRateStandingBad, taxRateStandingTerrible, _callback);
        return localVarCall;

    }

    /**
     * Get corporation customs offices
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param officeID Customs office ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param solarSystemID Customs office solar system ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitStart Customs office reinforce exit timer start selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitEnd Customs office reinforce exit timer end selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowAlliance Customs office allow alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowStandings Customs office allow standings selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Customs office standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateAlliance Customs office tax rate alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateCorp Customs office tax rate corporation selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingExcellent Customs office tax rate standing excellent selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingGood Customs office tax rate standing good selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingNeutral Customs office tax rate standing neutral selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingBad Customs office tax rate standing bad selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingTerrible Customs office tax rate standing terrible selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;CustomsOffice&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CustomsOffice> getCustomsOffices(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String officeID, String solarSystemID, String reinforceExitStart, String reinforceExitEnd, String allowAlliance, String allowStandings, String standingLevel, String taxRateAlliance, String taxRateCorp, String taxRateStandingExcellent, String taxRateStandingGood, String taxRateStandingNeutral, String taxRateStandingBad, String taxRateStandingTerrible) throws ApiException {
        ApiResponse<List<CustomsOffice>> localVarResp = getCustomsOfficesWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, officeID, solarSystemID, reinforceExitStart, reinforceExitEnd, allowAlliance, allowStandings, standingLevel, taxRateAlliance, taxRateCorp, taxRateStandingExcellent, taxRateStandingGood, taxRateStandingNeutral, taxRateStandingBad, taxRateStandingTerrible);
        return localVarResp.getData();
    }

    /**
     * Get corporation customs offices
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param officeID Customs office ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param solarSystemID Customs office solar system ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitStart Customs office reinforce exit timer start selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitEnd Customs office reinforce exit timer end selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowAlliance Customs office allow alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowStandings Customs office allow standings selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Customs office standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateAlliance Customs office tax rate alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateCorp Customs office tax rate corporation selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingExcellent Customs office tax rate standing excellent selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingGood Customs office tax rate standing good selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingNeutral Customs office tax rate standing neutral selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingBad Customs office tax rate standing bad selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingTerrible Customs office tax rate standing terrible selector (optional, default to &quot;{ any: true }&quot;)
     * @return ApiResponse&lt;List&lt;CustomsOffice&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CustomsOffice>> getCustomsOfficesWithHttpInfo(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String officeID, String solarSystemID, String reinforceExitStart, String reinforceExitEnd, String allowAlliance, String allowStandings, String standingLevel, String taxRateAlliance, String taxRateCorp, String taxRateStandingExcellent, String taxRateStandingGood, String taxRateStandingNeutral, String taxRateStandingBad, String taxRateStandingTerrible) throws ApiException {
        okhttp3.Call localVarCall = getCustomsOfficesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, officeID, solarSystemID, reinforceExitStart, reinforceExitEnd, allowAlliance, allowStandings, standingLevel, taxRateAlliance, taxRateCorp, taxRateStandingExcellent, taxRateStandingGood, taxRateStandingNeutral, taxRateStandingBad, taxRateStandingTerrible, null);
        Type localVarReturnType = new TypeToken<List<CustomsOffice>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get corporation customs offices (asynchronously)
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param officeID Customs office ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param solarSystemID Customs office solar system ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitStart Customs office reinforce exit timer start selector (optional, default to &quot;{ any: true }&quot;)
     * @param reinforceExitEnd Customs office reinforce exit timer end selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowAlliance Customs office allow alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param allowStandings Customs office allow standings selector (optional, default to &quot;{ any: true }&quot;)
     * @param standingLevel Customs office standing level selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateAlliance Customs office tax rate alliance selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateCorp Customs office tax rate corporation selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingExcellent Customs office tax rate standing excellent selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingGood Customs office tax rate standing good selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingNeutral Customs office tax rate standing neutral selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingBad Customs office tax rate standing bad selector (optional, default to &quot;{ any: true }&quot;)
     * @param taxRateStandingTerrible Customs office tax rate standing terrible selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCustomsOfficesAsync(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String officeID, String solarSystemID, String reinforceExitStart, String reinforceExitEnd, String allowAlliance, String allowStandings, String standingLevel, String taxRateAlliance, String taxRateCorp, String taxRateStandingExcellent, String taxRateStandingGood, String taxRateStandingNeutral, String taxRateStandingBad, String taxRateStandingTerrible, final ApiCallback<List<CustomsOffice>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCustomsOfficesValidateBeforeCall(accessKey, accessCred, at, contid, maxresults, reverse, officeID, solarSystemID, reinforceExitStart, reinforceExitEnd, allowAlliance, allowStandings, standingLevel, taxRateAlliance, taxRateCorp, taxRateStandingExcellent, taxRateStandingGood, taxRateStandingNeutral, taxRateStandingBad, taxRateStandingTerrible, _callback);
        Type localVarReturnType = new TypeToken<List<CustomsOffice>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getDivisions
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param wallet Division wallet indicator selector (optional, default to &quot;{ any: true }&quot;)
     * @param division Division ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Division name selector (optional, default to &quot;{ any: true }&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getDivisionsCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String wallet, String division, String name, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/ws/v1/corp/division";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessKey", accessKey));
        }

        if (accessCred != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("accessCred", accessCred));
        }

        if (at != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("at", at));
        }

        if (contid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("contid", contid));
        }

        if (maxresults != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxresults", maxresults));
        }

        if (reverse != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("reverse", reverse));
        }

        if (wallet != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet", wallet));
        }

        if (division != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("division", division));
        }

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getDivisionsValidateBeforeCall(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String wallet, String division, String name, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'accessKey' is set
        if (accessKey == null) {
            throw new ApiException("Missing the required parameter 'accessKey' when calling getDivisions(Async)");
        }
        
        // verify the required parameter 'accessCred' is set
        if (accessCred == null) {
            throw new ApiException("Missing the required parameter 'accessCred' when calling getDivisions(Async)");
        }
        

        okhttp3.Call localVarCall = getDivisionsCall(accessKey, accessCred, at, contid, maxresults, reverse, wallet, division, name, _callback);
        return localVarCall;

    }

    /**
     * Get corporation divisions
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
     * @param at Model lifeline selector (defaults to current live data) (optional, default to &quot;{ values: [ \&quot;9223372036854775806\&quot; ] }&quot;)
     * @param contid Continuation ID for paged results (optional, default to -1l)
     * @param maxresults Maximum number of results to retrieve (optional, default to 1000)
     * @param reverse If true, page backwards (results less than contid) with results in descending order (by cid) (optional, default to false)
     * @param wallet Division wallet indicator selector (optional, default to &quot;{ any: true }&quot;)
     * @param division Division ID selector (optional, default to &quot;{ any: true }&quot;)
     * @param name Division name selector (optional, default to &quot;{ any: true }&quot;)
     * @return List&lt;Division&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Division> getDivisions(Integer accessKey, String accessCred, String at, Long contid, Integer maxresults, Boolean reverse, String wallet, String division, String name) throws ApiException {
        ApiResponse<List<Division>> localVarResp = getDivisionsWithHttpInfo(accessKey, accessCred, at, contid, maxresults, reverse, wallet, division, name);
        return localVarResp.getData();
    }

    /**
     * Get corporation divisions
     * 
     * @param accessKey Model access key (required)
     * @param accessCred Model access credential (required)
[...]
